<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<div class="jumbo highlight">
  <div class="row">
    <div class="small-12 medium-9 small-centered column text-center">
      <h1><%= t("layouts.header.open_city_title") %></h1>
      <p class="lead">
        <%= t("layouts.header.open_city_slogan_html") %>
      </p>
    </div>
  </div>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
              recommended_debates: @recommended_debates,
              recommended_proposals: @recommended_proposals %>
  <hr>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main class="margin-footer">
    <div class="row">
      <div class="small-12 column margin">
        <h2>
          Conheça os temas do OP Digital
        </h2>
      </div>
    </div>
    <div class="row">
      <!-- Texto e imagens de marcação; solicitar conteúdo verdadeiro ao cliente -->
      <div class="small-12 medium-6 large-4 column margin-bottom">
        <div class="mini-jumbo">
          <img src="https://picsum.photos/720/360" alt="" class="img-responsive">
          <h3>Circulação, transporte e mobilidade urbana</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies consequat urna eu malesuada. Pellentesque at nisi sed quam consectetur tempor. Phasellus ac ullamcorper libero, rhoncus efficitur mi. Integer feugiat accumsan purus, vitae eleifend dui venenatis eget. Nulla vel elit id turpis lacinia ultrices. <a href="">Vote</a>
        </p>        
      </div>
      <div class="small-12 medium-6 large-4 column margin-bottom">
        <div class="mini-jumbo">
          <img src="https://picsum.photos/680/340" alt="" class="img-responsive">
          <h3>Cultura e juventude</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies consequat urna eu malesuada. Pellentesque at nisi sed quam consectetur tempor. Phasellus ac ullamcorper libero, rhoncus efficitur mi. Integer feugiat accumsan purus, vitae eleifend dui venenatis eget. Nulla vel elit id turpis lacinia ultrices. <a href="">Vote</a>
        </p>
      </div>
      <div class="small-12 medium-6 large-4 column margin-bottom">
        <div class="mini-jumbo">
          <img src="https://picsum.photos/700/350" alt="" class="img-responsive">
          <h3>Desenvolvimento econômico, tributação, turismo e trabalho</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies consequat urna eu malesuada. Pellentesque at nisi sed quam consectetur tempor. Phasellus ac ullamcorper libero, rhoncus efficitur mi. Integer feugiat accumsan purus, vitae eleifend dui venenatis eget. Nulla vel elit id turpis lacinia ultrices. <a href="">Vote</a>
        </p>
      </div>
      <div class="small-12 medium-6 large-4 column margin-bottom">
        <div class="mini-jumbo">
          <img src="https://picsum.photos/660/330" alt="" class="img-responsive">
          <h3>Educação, esporte e lazer</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies consequat urna eu malesuada. Pellentesque at nisi sed quam consectetur tempor. Phasellus ac ullamcorper libero, rhoncus efficitur mi. Integer feugiat accumsan purus, vitae eleifend dui venenatis eget. Nulla vel elit id turpis lacinia ultrices. <a href="">Vote</a>
          </p>
      </div>
      <div class="small-12 medium-6 large-4 column margin-bottom">
        <div class="mini-jumbo">
          <img src="https://picsum.photos/640/320" alt="" class="img-responsive">
          <h3>Habitação, organização de cidades, desenvolvimento urbano e ambiental</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies consequat urna eu malesuada. Pellentesque at nisi sed quam consectetur tempor. Phasellus ac ullamcorper libero, rhoncus efficitur mi. Integer feugiat accumsan purus, vitae eleifend dui venenatis eget. Nulla vel elit id turpis lacinia ultrices. <a href="">Vote</a>
        </p>
      </div>
      <div class="small-12 medium-6 large-4 column margin-bottom">
        <div class="mini-jumbo">
          <img src="https://picsum.photos/620/310" alt="" class="img-responsive">
          <h3>Saúde e assistência social</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies consequat urna eu malesuada. Pellentesque at nisi sed quam consectetur tempor. Phasellus ac ullamcorper libero, rhoncus efficitur mi. Integer feugiat accumsan purus, vitae eleifend dui venenatis eget. Nulla vel elit id turpis lacinia ultrices. <a href="">Vote</a>
        </p>
      </div>
    </div>
  </main>
<% end %>
